body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: arial, sans-serif;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 16px;
    padding-right: 28px;
}

.headerLink {
    padding-right: 15px;
    font-size: 13px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.headerLink:hover {
    text-decoration: underline;
    opacity: 0.85;
}

.headerMenu {
    height: 18px;
    width: 18px;
    opacity: 0.55;
    padding-right: 15px;
}

.headerMenu:hover {
    opacity: 1;
}

.headerButton {
    border: 1px solid #4285f4;
    border-radius: 2px;
    background: linear-gradient(#4387fd, #4683ea);
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    line-height: 28px;
    color: #ffffff;
    font-weight: bold;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 110px;
}

.logo {
    width: 270px;
}

.inputString {
    display: flex;
    align-items: center;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    padding: 4px 14px;
    margin-top: 20px;
}

.inputString:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.input {
    width: 350px;
    border: none;
    outline: none;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
}

.search {
    height: 20px;
    opacity: 0.4;
}

.mic {
    height: 24px;
    width: 24px;
}

.keyboard {
    max-height: 11px;
    margin-right: 18px;
}

.searchAndLuck {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    padding: 18px 0px 0px;
}

.searchAndLuckButton {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    line-height: 27px;
    height: 36px;
    text-align: center;
    margin: 11px 8px;
    padding: 0px 16px;
    cursor: pointer;
}

.searchAndLuckButton:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.language {
    font-size: 13px;
    margin-top: 15px;
}

.language a:hover {
    text-decoration: underline;
}

.language a {
    color: #1A0DAB;
    text-decoration: none;
}

.footer {
    background: #f2f2f2;
}

.footerOne {
    font-size: 15px;
    padding-left: 27px;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
    color: rgba(0, 0, 0, 0.54)
}

.footerTwo {
    display: flex;
    justify-content: space-between;
    padding-right: 27px;
    border-top: 1px solid #e4e4e4;
}

.footerTwo a {
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
    padding-left: 27px;
    line-height: 40px;
}

.footerTwo a:hover {
    text-decoration: underline;
}